@import "tailwindcss";

@font-face {
    font-family: "Figtree";
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf") format("ttf");
    font-weight: 300 900;
    font-display: swap;
}

@theme {
    --color-yellow: #F4D04E;
    --color-gray-500: #6B6B6B;
    --color-gray-950: #111111;

    --font-figtree: "Figtree", sans-serif;
}

@layer base {
    body {
        @apply bg-yellow flex flex-col h-lvh;
    }

    a {
        @apply text-[#3333FF];
    }
}

.card {
    @apply bg-white w-[327px] sm:w-96 my-auto mx-auto p-6 rounded-[20px] flex flex-col gap-6 outline-1 box-border;
    box-shadow: 8px 8px 0 black;
}

.text-preset-1 {
    @apply font-figtree font-extrabold leading-[150%] tracking-normal;
    font-size: clamp(20px, 2vw, 24px);
}

.text-preset-2 {
    @apply font-figtree font-medium leading-[150%] tracking-normal;
    font-size: clamp(14px, 2vw, 16px);
}

.text-preset-3 {
    @apply font-figtree font-medium leading-[150%] tracking-normal;
    font-size: clamp(12px, 2vw, 14px);
}

.text-preset-3-bold {
    @apply font-figtree font-extrabold leading-[150%] tracking-normal;
    font-size: clamp(12px, 2vw, 14px);
}